<div class="chess-body">
  <div class="chess-left">
    <div class="chess-title">Chæsck</div>
    <div class="chess-info">
      <i *ngIf="state != 3" class="fa-solid fa-chess-pawn " [ngClass]="{ light: !chess.turn, dark: chess.turn }"></i>
      <i *ngIf="state == 3" class="fa-solid fa-chess-king " [ngClass]="{ light: chess.turn, dark: !chess.turn }"></i>
      <div *ngIf="state != 3">{{chess.getTurnText()}}'s turn</div>
      <div *ngIf="state == 3">{{chess.getTurnText(true)}} won the game!</div>
      <div *ngIf="state == 4">Remi</div>
      <div>{{getStateText()}}</div>
    </div>
    <div class="chess-info">
      <ul>
        <li><b>Game Notation:</b></li>
        <li *ngFor="let move of moves">{{move}}</li>
      </ul>
    </div>
  </div>
  <table style="font-size: calc(100vh / ({{chess.size[0]}} * {{chess.size[2]}}))">
    <tr *ngFor="let rows of chess.board; index as y" class="chess-board">
      <td *ngFor="let slot of rows; index as x" class="cell" (click)="cellClick(x, y)">
        <div class="cell-content" *ngIf="chess.getPieceAtXY(x, y) as p">
          <div *ngIf="p.alive" [ngClass]="{ selected: p.selected }">
            <i class="fa-solid fa-chess-{{chess.getPieceName(p.piece)}}" [ngClass]="{ light: !p.color, dark: p.color }"></i>
          </div>
          <div [ngClass]="{ move: chess.board[x][y] }"></div>
        </div>
        <div *ngIf="y == 0">
          <div *ngIf="debug" style="position: fixed; transform: translate(.75em, -3.3em);">{{x}}</div>
          <div *ngIf="!debug" style="position: fixed; transform: translate(.75em, -3.3em);">{{getXLetter(x)}}</div>
        </div>
        <div *ngIf="x == 0">
          <div *ngIf="debug" style="position: fixed; transform: translate(-0.75em, -1.8em);">{{y}}</div>
          <div *ngIf="!debug" style="position: fixed; transform: translate(-0.8em, -1.8em);">{{getYLetter(y, true)}}</div>
        </div>
      </td>
    </tr>
  </table>
  <div class="chess-dead light">
    <div *ngFor="let p of deadLightPieces">
      <i class="fa-solid fa-chess-{{chess.getPieceName(p.piece)}} dark"></i>
    </div>
  </div>
  <div class="chess-dead dark">
    <div *ngFor="let p of deadDarkPieces">
      <i class="fa-solid fa-chess-{{chess.getPieceName(p.piece)}} light"></i>
    </div>
  </div>
  <div class="info" *ngIf="oldSelected.alive && debug" (click)="test()">
    <div class="info-box">
      Selected
      <div class="d-flex justify-content-evenly">
        <small>Id: </small><pre>{{oldSelected.id}}</pre>
      </div>
      <div class="d-flex justify-content-evenly">
        <small>Piece: </small><pre>{{oldSelected.getType()}}</pre>
      </div>
      <div class="d-flex justify-content-evenly">
        <small>Color: </small><pre>{{oldSelected.getColor()}}</pre>
      </div>
      <div class="d-flex justify-content-evenly">
        <small>Alive: </small><pre>{{oldSelected.alive}}</pre>
      </div>
      <div class="d-flex justify-content-evenly">
        <small>Pos: </small><pre>{{oldSelected.pos[0]}}, {{oldSelected.pos[1]}}</pre>
      </div>
    </div>
  </div>
</div>
