<div class="chess-body">
  <div class="chess-left">
    <div class="chess-title">Chæsck</div>
    <div class="chess-info">
      <i *ngIf="state != 6" class="fa-solid fa-chess-pawn" [ngClass]="{ light: !chess.turn, dark: chess.turn }"></i>
      <i *ngIf="state == 6" class="fa-solid fa-chess-king" [ngClass]="{ light: chess.turn, dark: !chess.turn }"></i>
      <div *ngIf="state != 6">{{chess.getTurnText()}}'s turn</div>
      <div *ngIf="state == 6">{{chess.getTurnText(true)}} won the game!</div>
      <div *ngIf="state == 7">Remi</div>
      <div *ngIf="debug">Game State: {{getStateText()}}</div>
    </div>
    <div class="notation-arrows">
      <i class="fa-solid fa-forward-step mb-2" style="transform: rotateZ(-90deg) translateY(1px); font-size: .8rem" (click)="notationTop()" [ngClass]="{ disabled: notationOffset === 0}"></i>
      <i class="fa-solid fa-caret-up mb-2" (click)="notationUp()" [ngClass]="{ disabled: notationOffset === 0}"></i>
      <div *ngIf="debug" class="mb-2">{{notationOffset}}</div>
      <i class="fa-solid fa-caret-down mb-2" (click)="notationDown()" [ngClass]="{ disabled: notationOffset === newMoves.length - 1 }"></i>
      <i class="fa-solid fa-forward-step" style="transform: rotateZ(90deg) translateY(1px); font-size: .8rem" (click)="notationBottom()" [ngClass]="{ disabled: notationOffset === newMoves.length - 1}"></i>
    </div>
    <div class="chess-info">
      <ul>
        <li><b>Game Notation:</b></li>
        <li *ngFor="let move of newMoves.reverse(); index as i" [ngClass]="{ active: i === notationOffset }">{{move}}</li>
      </ul>
    </div>
  </div>
  <table style="font-size: calc(100vh / ({{chess.size[0]}} * {{chess.size[2]}}))" oncontextmenu="return false;">
    <tr *ngFor="let rows of chess.board; index as y" class="chess-board">
      <td *ngFor="let slot of rows; index as x" class="cell" (click)="cellClick(x, y)">
        <div class="cell-content" *ngIf="chess.getPieceAtXY(x, y) as p">
          <div *ngIf="p.alive" [ngClass]="{ selected: p.selected }">
            <i class="fa-solid fa-chess-{{chess.getPieceName(p.piece)}}" [ngClass]="{ light: !p.color, dark: p.color }"></i>
          </div>
          <div [ngClass]="{ move: chess.board[x][y] }"></div>
        </div>
        <div *ngIf="y == 0">
          <div style="position: fixed; transform: translate(.75em, -3.3em);">{{getXLetter(x)}}</div>
        </div>
        <div *ngIf="x == 0">
          <div style="position: fixed; transform: translate(-0.8em, -1.8em);">{{getYLetter(y, true)}}</div>
        </div>
        <div *ngIf="debug && y == 7">
          <div *ngIf="debug" style="position: fixed; transform: translate(.75em, -.3em); color: white; ">{{x}}</div>
        </div>
        <div *ngIf="debug && x == 7">
          <div *ngIf="debug" style="position: fixed; transform: translate(2.2em, -1.8em); color: white;">{{y}}</div>
        </div>
      </td>
    </tr>
  </table>
  <div class="chess-dead light">
    <div *ngFor="let p of deadLightPieces">
      <i class="fa-solid fa-chess-{{chess.getPieceName(p.piece)}} dark"></i>
    </div>
  </div>
  <div class="chess-dead dark">
    <div *ngFor="let p of deadDarkPieces">
      <i class="fa-solid fa-chess-{{chess.getPieceName(p.piece)}} light"></i>
    </div>
  </div>
  <div class="info" *ngIf="oldSelected.alive && debug">
    <div class="info-box">
      Selected
      <div class="d-flex justify-content-evenly">
        <small>Id: </small><pre>{{oldSelected.id}}</pre>
      </div>
      <div class="d-flex justify-content-evenly">
        <small>Piece: </small><pre>{{oldSelected.getType()}}</pre>
      </div>
      <div class="d-flex justify-content-evenly">
        <small>Color: </small><pre>{{oldSelected.getColor()}}</pre>
      </div>
      <div class="d-flex justify-content-evenly">
        <small>Alive: </small><pre>{{oldSelected.alive}}</pre>
      </div>
      <div class="d-flex justify-content-evenly">
        <small>Pos: </small><pre>{{oldSelected.pos[0]}}, {{oldSelected.pos[1]}}</pre>
      </div>
    </div>
  </div>

  <div class="btn-area">
    <div class="text-end mb-1"><button type="button" class="btn btn-sm btn-primary" (click)="loadBoard()">Load Board</button></div>
    <div class="text-end mb-1" *ngIf="state != 6 && state != 9"><button type="button" class="btn btn-sm btn-danger" (click)="forfeit()">Give Up</button></div>
    <div class="text-end" *ngIf="debug && (state != 6 && state != 9)"><button type="reset" class="btn btn-sm btn-warning" (click)="resetBoard()">Reset Game</button></div>
    <div class="text-end" *ngIf="state == 6 || state == 9"><button type="reset" class="btn btn-sm btn-success" (click)="newGame()">New Game</button></div>
    <div class="d-flex mt-3">
      <label for="debug">Debug Mode</label>
      <div class="form-switch ms-2">
        <input type="checkbox" id="debug" [(ngModel)]="debug" class="form-check-input" />
      </div>
    </div>
  </div>
</div>
