
<div *ngIf="hero">
  <div *ngIf="heroId" class="pt-4"></div>
  <h2 class="hero-detail-title">{{hero.name | uppercase}} Details</h2>
  <hr />
  <div *ngIf="!heroId" class="small"><a routerLink="/detail/{{hero.id}}">More Details</a></div>
  <div><code><span>id: </span>{{hero.id}}</code></div>
  <div class="from-group col-lg-6">
    <label for="hero-name">Hero name</label>
    <input id="hero-name" class="form-control" [(ngModel)]="hero.name" placeholder="name" [disabled]="!heroId" />
    <label for="hero-power">Power</label>
    <input id="hero-power" class="form-control" [(ngModel)]="hero.power" placeholder="power" [disabled]="!heroId" />
    <label for="hero-alterEgo">Alter Ego</label>
    <input id="hero-alterEgo" class="form-control" [(ngModel)]="hero.alterEgo" placeholder="alter ego" [disabled]="!heroId" />
  </div>
</div>

<div *ngIf="heroId" class="mt-3 p-0">
  <hr />
  <button type="button" class="btn btn-sm btn-secondary me-2" (click)="goBack()">< Go Back</button>
  <button type="button" class="btn btn-sm btn-primary me-2" (click)="save()">Save Changes</button>
  <button type="button" class="btn btn-sm btn-danger" (click)="delete()">Delete</button>
</div>
