
<div *ngIf="!isClosed" class="bg-close" (click)="collapse()"></div>
<nav class="sidebar" [ngClass]="{ dark: isDarkMode, closed: isClosed }">
  <!--<div class="sidebar-bg" [ngClass]="{ closed: isClosed }"></div>-->
  <header>
    <div class="image-text">
      <span class="image">
        <img src="https://picsum.photos/id/56/200" alt="logo" />
      </span>

      <div class="text header-text">
        <span class="name">Tour of Heroes</span>
        <span class="profession">Your favorite heroes!</span>
      </div>
    </div>

    <i class="fa fa-chevron-right toggle" (click)="toggleCollapse()"></i>
  </header>

  <div class="menu-bar">
    <div class="menu">
      <div class="search-box" (click)="openSearch()">
        <i class="fa-solid fa-magnifying-glass icon"></i>
        <form (ngSubmit)="search(searchBox.value)">
          <input type="search" id="search-box" #searchBox placeholder="Search Hero..." class="text nav-text" />
          <button hidden type="submit"></button>
        </form>
      </div>
      <ul class="menu-links">
        <li class="nav-link">
          <a [routerLink]="['/']" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }" (click)="collapse()">
            <i class="fa-solid fa-house-chimney icon"></i>
            <span class="text nav-text">Home</span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/hero']" [routerLinkActive]="['link-active']" (click)="collapse()">
            <i class="fa-solid fa-mask icon"></i>
            <span class="text nav-text">Hero</span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/card']" [routerLinkActive]="['link-active']" (click)="collapse()">
            <i class="fa-solid fa-credit-card icon"></i>
            <span class="text nav-text">Credit Card</span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/treegrid']" [routerLinkActive]="['link-active']" (click)="collapse()">
            <i class="fa-solid fa-tree icon"></i>
            <span class="text nav-text">Tree Grid</span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/stats']" [routerLinkActive]="['link-active']" (click)="collapse()">
            <i class="fa-solid fa-chart-pie icon"></i>
            <span class="text nav-text">Stats</span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/counter']" [routerLinkActive]="['link-active']" (click)="collapse()">
            <i class="fa-solid fa-hashtag icon"></i>
            <span class="text nav-text">Counter</span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/weather']" [routerLinkActive]="['link-active']" (click)="collapse()">
            <i class="fa-solid fa-cloud-sun icon"></i>
            <span class="text nav-text">Weather</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="bottom-content">
      <ul>
        <li class="nav-link">
          <a [routerLink]="['/about']" [routerLinkActive]="['link-active']" (click)="collapse()">
            <i class="fa-solid fa-circle-info icon"></i>
            <span class="text nav-text">About</span>
          </a>
        </li>
        <li class="mode">
          <div class="moon-sun">
            <i class="fa-solid fa-moon icon" [ngClass]="{ show: !isDarkMode }"></i>
            <i class="fa-solid fa-sun icon" [ngClass]="{ show: isDarkMode }"></i>
          </div>
          <span class="mode-text text">{{getDarkModeText()}}</span>

          <div class="toggle-switch" (click)="toggleDarkMode()">
            <span class="switch"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
