<div class="row">
  <div class="heroes col-4">
    <h2>Our Heroes!</h2>
    <ul>
      <li *ngFor="let hero of heroes">
        <button type="button" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
          <span class="badge">{{hero.id}}</span>
          <span class="name">{{hero.name}}</span>
        </button>
        <button type="button" class="delete" title="Delete Hero" (click)="delete(hero)"><span><i class="small fa-solid fa-xmark"></i></span></button>
      </li>
      <li>
        <form class="hero" (ngSubmit)="add(heroName.value); heroName.value=''">
          <label class="badge add-button" for="new-hero" (click)="add(heroName.value); heroName.value=''">+</label>
          <span class="name w-100"><input id="new-hero" #heroName placeholder="Hero name" /></span>
          <button type="submit" hidden></button>
        </form>
      </li>
    </ul>
  </div>
  <div class="hero-detail offset-2 col-6" [class.d-none]="!selectedHero">
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
  </div>
</div>

<app-modal [isModalClosed]="isModalClosed" (modalEvent)="getModalEvent($event)"></app-modal>
