
<div class="body">
  <div class="pie-container" style="--g: .15em; --s: 300px;">
    <div class="pie-bg"></div>
    <div class="pie">
      <div class="pie-one" onclick="document.getElementById('result').innerHTML = 'Red';">
        <h1>1</h1>
        <p>Risk Identification</p>
      </div>
      <div class="pie-two" onclick="document.getElementById('result').innerHTML = 'Yellow';">
        <h1>2</h1>
        <p>Risk Analysis</p>
      </div>
      <div class="pie-three" onclick="document.getElementById('result').innerHTML = 'Cyan';">
        <h1>3</h1>
        <p>Risk Evaluation</p>
      </div>
      <div class="pie-four" onclick="document.getElementById('result').innerHTML = 'Green';">
        <h1>4</h1>
        <p>Risk Treatment</p>
      </div>
      <div class="pie-five" onclick="document.getElementById('result').innerHTML = 'Orange';">
        <h1>5</h1>
        <p>Monitoring & Review</p>
      </div>
    </div>
    <div id="result"></div>
  </div>
</div>
